// main: ./main.less
.gfv1.sheet.actor-sheet {
  .sheet-header {
    .profile-img {
      height: 128px;
      width: 128px;
    }
    .header-fields {
      padding: auto;
    }
  }

  .basic-info {
    .field-heat {
      flex: 1;
    }
    .field-perm {
      flex: 1;
    }
    .field-playbook {
      flex: 2;
      input {
        flex: 80%;
      }
    }
    .edit-btn {
      padding-left: 16px;
    }
  }

  .gorgon-class {
    img {
      height: 24px;
      width: 24px;
    }
  }

  .items-list {
    padding: 0;
    .item-img {
      flex: 5%;
      img {
        height: 24px;
        width: 24px;
      }
    }
    .item-name {
      flex: 50%;
    }
    .item-props {
      flex: 35%;
    }
    .item-controls {
      flex: 10%;
      text-align: right;
    }
  }
}
