// main: ./main.less
.gfv1.sheet.item-sheet {
  .item-description {
    .item-description-editor {
      min-height: 200px;
      max-height: 400px;
    }
  }

  .items-list {
    padding: 0;
    .item-img {
      flex: 5%;
      img {
        height: 24px;
        width: 24px;
      }
    }
    .item-name {
      flex: 50%;
    }
    .item-props {
      flex: 35%;
    }
    .item-controls {
      flex: 10%;
      text-align: right;
    }
  }
}
