// main: ./main.less

@roll-low-color: #0c58a5;
@roll-med-color: #007744;
@roll-high-color: #962d2b;

.roll-low {
  color: @roll-low-color;
}
.roll-med {
  color: @roll-med-color;
}
.roll-high {
  color: @roll-high-color;
}

.play-description {
  label {
    font-weight: bold;
    font-size: 1rem;
  }
}

.play-result {
  label {
    font-weight: bold;
    font-size: 1rem;
  }
}

.roll-result {
  text-align: center;

  .result-calculation {
    display: grid;
    grid-auto-flow: column;

    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px white inset;
    padding-bottom: 3px;

    overflow: hidden;

    .value {
      font-size: 1rem;
    }
    .icon {
      font-size: 1.5rem;
      &.fa-fire {
        color: #730d0d;
      }
      &.fa-dice-one,
      &.fa-dice-two,
      &.fa-dice-three,
      &.fa-dice-four,
      &.fa-dice-five,
      &.fa-dice-six {
        color: #225522;
      }
      &.fa-wrench {
        color: #444444;
      }
    }
    .operator,
    .operand,
    .result {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      word-break: normal;
    }
    .result .value {
      font-size: 2rem;
      margin-right: 5px;
    }
  }

  .result-graphic {
    .targets,
    .results {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }

    .targets {
      font-size: 1.5rem;
      & > * {
        display: grid;
      }
    }

    .results {
      border-radius: 1rem;
      overflow: hidden;

      & > * {
        font-size: 2rem;
        color: var(--color-text-primary);
        text-shadow: 2px 2px black;
      }

      .roll-high {
        background-color: @roll-high-color;
      }
      .roll-med {
        background-color: @roll-med-color;
      }
      .roll-low {
        background-color: @roll-low-color;
      }
    }
  }
}
