.gfv1.sheet.actor-sheet .sheet-header .profile-img {
  height: 128px;
  width: 128px;
}
.gfv1.sheet.actor-sheet .sheet-header .header-fields {
  padding: auto;
}
.gfv1.sheet.actor-sheet .basic-info .actor-controls {
  position: relative;
}
.gfv1.sheet.actor-sheet .basic-info .actor-controls .edit-btn {
  position: absolute;
  right: 0;
}
.gfv1.sheet.actor-sheet .gorgon-class {
  margin-bottom: 5px;
}
.gfv1.sheet.actor-sheet .gorgon-class .gorgon-class-header .item-img {
  flex: 5%;
}
.gfv1.sheet.actor-sheet .gorgon-class .gorgon-class-header .item-name {
  flex: 95%;
}
.gfv1.sheet.item-sheet .item-description .item-description-editor {
  min-height: 100px;
  max-height: 400px;
}
.gfv1.sheet .item-img img {
  height: 24px;
  width: 24px;
}
.gfv1.sheet .sheet-body {
  overflow-y: auto;
}
.gfv1.sheet .item-list-group {
  display: grid;
  grid-template-columns: auto 2fr 1fr auto;
  grid-auto-rows: auto;
}
.gfv1.sheet .item-list-group .items-list {
  grid-template-columns: subgrid;
}
.gfv1.sheet .items-list {
  grid-template-columns: auto 2fr 1fr auto;
  grid-auto-rows: auto;
  grid-column: 1/-1;
  display: grid;
  padding: 0;
}
.gfv1.sheet .items-list .item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  align-items: center;
  gap: 5px;
}
.gfv1.sheet .items-list .item .item-props {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-items: center;
}
.gfv1.sheet .items-list .item .item-controls {
  text-align: right;
}
.chat-card .roll-result-header {
  font-weight: bold;
}
.chat-card .roll-result-header .high {
  color: blue;
}
.chat-card .roll-result-header .med {
  color: green;
}
.chat-card .roll-result-header .low {
  color: red;
}
