.gfv1.sheet.actor-sheet .sheet-header .profile-img {
  height: 128px;
  width: 128px;
}
.gfv1.sheet.actor-sheet .sheet-header .header-fields {
  padding: auto;
}
.gfv1.sheet.actor-sheet .basic-info .field-heat {
  flex: 1;
}
.gfv1.sheet.actor-sheet .basic-info .field-perm {
  flex: 1;
}
.gfv1.sheet.actor-sheet .basic-info .field-playbook {
  flex: 2;
}
.gfv1.sheet.actor-sheet .basic-info .field-playbook input {
  flex: 80%;
}
.gfv1.sheet.actor-sheet .basic-info .edit-btn {
  padding-left: 16px;
}
.gfv1.sheet.actor-sheet .gorgon-class img {
  height: 24px;
  width: 24px;
}
.gfv1.sheet.actor-sheet .items-list {
  padding: 0;
}
.gfv1.sheet.actor-sheet .items-list .item-img {
  flex: 5%;
}
.gfv1.sheet.actor-sheet .items-list .item-img img {
  height: 24px;
  width: 24px;
}
.gfv1.sheet.actor-sheet .items-list .item-name {
  flex: 50%;
}
.gfv1.sheet.actor-sheet .items-list .item-props {
  flex: 35%;
}
.gfv1.sheet.actor-sheet .items-list .item-controls {
  flex: 10%;
  text-align: right;
}
.gfv1.sheet.item-sheet .item-description .item-description-editor {
  min-height: 200px;
  max-height: 400px;
}
.gfv1.sheet.item-sheet .items-list {
  padding: 0;
}
.gfv1.sheet.item-sheet .items-list .item-img {
  flex: 5%;
}
.gfv1.sheet.item-sheet .items-list .item-img img {
  height: 24px;
  width: 24px;
}
.gfv1.sheet.item-sheet .items-list .item-name {
  flex: 50%;
}
.gfv1.sheet.item-sheet .items-list .item-props {
  flex: 35%;
}
.gfv1.sheet.item-sheet .items-list .item-controls {
  flex: 10%;
  text-align: right;
}
.chat-card .roll-result-header {
  font-weight: bold;
}
.chat-card .roll-result-header .high {
  color: blue;
}
.chat-card .roll-result-header .med {
  color: green;
}
.chat-card .roll-result-header .low {
  color: red;
}
