<label for="heat">{{localize "GFv1.dialog.rollModifier.heat"}}</label>
<input
  name="heat"
  type="number"
  value="0"
  min="0"
  max="{{maxHeat}}"
  step="1"
  {{disableHeat}}
/>

<label for="mod">{{localize "GFv1.dialog.rollModifier.mod"}}</label>
<input
  name="mod"
  type="number"
  value="0"
  step="1"
/>
