<section class="gorgon-class">
  <div>
    {{#if (settings "gfv1" "showItemImages")}}
      <img
        src="{{system.gorgonClass.img}}"
        title="{{system.gorgonClass.name}}"
      />
    {{/if}}
    <label class="item-name flex">
      {{system.gorgonClass.name}}
    </label>
  </div>
  <div class="item-description">
    {{{system.gorgonClass.system.description}}}
  </div>
</section>
