<section>
  <label>{{localize "GFv1.item.playbook.name"}}</label>
  <input
    type="text"
    name="playbook.name"
    value="{{playbook.name}}"
    placeholder="playbook name"
  />
  {{> "systems/gfv1/templates/actor/partials/rules-list.hbs"}}
  {{> "systems/gfv1/templates/actor/partials/assets-list.hbs"}}
</section>
