<section
  class="tab sheet-body {{tab.active}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  {{> "systems/gfv1/templates/actor/partials/playbook.hbs" playbook=system.framePlaybook}}
</section>
