<section
  class="tab sheet-body {{tab.active}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  {{> "systems/gfv1/templates/actor/partials/identities-list.hbs"}}
  {{> "systems/gfv1/templates/actor/partials/tags-list.hbs"}}
  {{> "systems/gfv1/templates/actor/partials/bonds-list.hbs"}}
</section>
