<div class="chat-card">
  <h1>Welcome to Girlframe for Foundry! (Version: {{version}})</h1>

  <p>This system implementation is still in development, so be sure to make
    backups between every version until 1.0.0 just in case.</p>

  <p>If you have any questions, or feedback, feel free to send it my way. You
    can find me on the
    <a href="https://discord.gg/yEFEGyVWmS">official Discord</a>. Remember to
    @LadyNova to catch my attention.
  </p>

  <p>This implementation tries to allow as much customization as possible, to
    make it easy to create your own playbooks. This means there isn't much
    automation of plays, or rules enforcement.</p>

  <p>Most things work via drag and drop. For example you can drop a Girl
    Playbook, and a Frame Playbook onto a Pilot character to easily make a Girl.</p>

  <p>To make your own playbook, simply drag and drop any Assets, Rules, or other
    items onto the playbook, so the playbook knows what to import when added to
    a sheet.</p>

  <p>To get all the Playbooks from the
    <a href="https://anxiousmimicrpgs.itch.io/girl-frame">official system</a>
    just reach out to me on the Discord. They are not provided here, simply
    because I don't want to siphon people away from buying the book. But if you
    have bought the book, I can save you from having to type in everything
    manually at least.
  </p>
</div>
