<header class="sheet-header">
  <img
    class="profile-img"
    src="{{item.img}}"
    data-edit="img"
    data-action="editImage"
    title="{{item.name}}"
  />
  <div class="header-fields">
    <div>
      <label>{{localize "GFv1.item.name"}}</label>
      <input type="text" name="name" value="{{item.name}}" />
    </div>
  </div>
</header>
