<section>
{{> "systems/gfv1/templates/item/partials/assets-list.hbs"}}
{{> "systems/gfv1/templates/item/partials/bonds-list.hbs"}}
{{> "systems/gfv1/templates/item/partials/rules-list.hbs"}}
</section>
