<section class="item-properties">
  {{#each item.system.properties as |property|}}
  <div class="item-property">
    <label>{{localize property.label}}</label>
    {{formInput property.field value=property.value localize=true}}
  </div>
  {{/each}}
</section>
